<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
<head>
    <meta charset="UTF-8">
    <title>FSF17 Node and Angular JS Template Environement</title>

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">



    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <script src="index.js"></script>


</head>
<body ng-controller="CartCtrl as cartCtrl">


    <div class="container">

     <h5>FSF17 Node and Angular JS Template Environement</h5>    
        <h1>My Shopping Cart</h1>


            <form name="itemForm" ng-submit="cartCtrl.addToBasket()" novalidate>
                <div class="form-group">
                    <label for="item">Item</label>
                    <br>    
                    <input type="text" ng-model="cartCtrl.item" reuired >
                    <br>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <br>    
                    <input type="number" ng-model="cartCtrl.quantity" required min="1" >       
                    <br>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control" >
                    <i class="fa fa-cart-plus"  ></i>
                        Add to cart
                    </button>
                </div>
            </form>
            <h2>Contents</h2>
            <table class="table"> 
                <tr> 

                    <th>Item</th>
                    <th>Quantity</th>
                </tr>
                <tr ng-repeat="i in cartCtrl.basket">
                    <!--<td ng-repeat="item in myCart.item">{{item}}</td>
                    <td ng-repeat="quantity in myCart.quantity">{{quantity}}</td>-->
                    <td>{{ i.item}}</td>
                    <td>{{ i.quantity }}</td>
                </tr>


            </table>



    </div>
</body>
</html>